# Built application files
*.apk
build/
.gradle/
captures/
.DS_Store

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Local configuration file (sdk path, etc)
local.properties

# Intellij
*.iml
/.idea/workspace.xml
/.idea/libraries
